appdirs==1.4.3
asgiref==3.2.3
bcrypt==3.1.7
beautifulsoup4==4.8.2
bootstrap4==0.1.0
cachetools==4.1.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.1
distlib==0.3.0
Django==2.2
django-bootstrap4==1.1.1
django-cors-headers==3.4.0
django-crispy-forms==1.8.1
djangorestframework==3.11.0
filelock==3.0.12
Flask==1.1.2
google-api-core==1.17.0
google-auth==1.14.1
google-cloud-storage==1.28.1
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.28.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
Pillow==7.0.0
pipenv==2018.11.26
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pytz==2019.3
requests==2.23.0
rsa==4.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.9
virtualenv==20.0.14
virtualenv-clone==0.5.3
waitress==1.4.3
Werkzeug==1.0.1
